<div id="<%= dom_id post %>" class="bg-gray-100 rounded mt-4">
  <h2>Post <%= post.id %> - <%= post.content %></h2>

  <div class="flex justify-start gap-4">
    <small>Author: <%= post.author.email %></small>
    <small>Comments: <%= post.comments.count %></small>

    <%= render partial: 'posts/likes_count', locals: { post: post } %>

    <%
=begin%>
 <small>
      <%= link_to "Likes: #{post.likes_count}", "#" %>
    </small> 
<%
=end%>
  </div>
</div>

