<div class="w-full mb-48">

  <div class="flex justify-between items-center">
    <h1>My Feed</h1>
  </div>

  <%# New post input %>
  <%= render 'form', post: @post, title: "What's on your mind?" %>

  <%# List all posts %>
  <div id="posts">
    <% @posts.each do |post| %>
      <%= render post %>
    <% end %>
  </div>
</div>










<div class="hidden">

  <h1>H1 heading looks like this</h1>
  <h2>H2 heading looks like this</h2>
  <h3>H3 heading looks like this</h3>
  <h4>Subheading looks like this</h4>
  <p>Paragraph looks like this</p>
  <small>Small text looks like this</small>

  <br>
  Buttons

    <div class="flex flex-col gap-4">
    
      <div><%= link_to "Primary", root_path, class:'btn-primary' %></div>
    
      <div><%= link_to "Secondary", root_path, class:'btn-secondary' %></div>
    
      <div><%= link_to "Tertiary", root_path, class:'btn-tertiary' %></div>
    </div>
    
  <br>
  Links
  <br>
  <%= link_to "Primary", root_path, class:'link-primary' %>
  <br>
  <%= link_to "Secondary", root_path, class:'link-secondary' %>
  <br>
  <%= link_to "Tertiary", root_path, class:'link-tertiary' %>
</div>
