<div class="mx-auto md:w-2/3 mb-24 w-full flex flex-col">

  <%= link_to "â† Back to posts", posts_path, class: "link-tertiary mb-4" %>
  
  <div class="main-container">

    <%# Top row with author and like %>
    <div class="flex flex-row justify-between items-center pt-2 pb-6 mb-8 border-b-2">
      <%# Author and date %>
      <div class="flex gap-4">
        <div class="w-12 h-12 rounded-full overflow-hidden"><%= link_to show_user_profile_image(@post.author.profile), user_profile_path(@post.author) %></div>
        <div class="flex flex-col">
          <%= link_to @post.author.profile.full_name, user_profile_path(@post.author), class:'font-bold link-tertiary' %>
          <small><%= @post.created_at.strftime("%b %e, %Y") %></small>
        </div>
      </div>

      <%# Right side %>
      <div class="flex gap-4">
        <% if @post.author == current_user %>
          <%= link_to "Edit post", edit_post_path(@post), class: "btn-secondary" %>
        <% end %>
        <%= render partial: 'likes', locals: { post: @post } %>
      </div>
    </div>

    <%# Post content %>
    <div class="mt-8">
      <p class="mb-8"><%= @post.content %></p>
      <%= image_tag(@post.post_image, class:'rounded-xl') if @post.post_image.present? %>
    </div>

  </div>

  <%# Liked section %>
  <% if @post.liked_users.any? %>
    <div class="main-container">
      <%= render 'liked_by', post: @post %>
    </div>
  <% end %>
  
  <%# Comments section %>
  <h2>Comments</h2>

  <div class="main-container">
    <%= render 'comments/form', comment: @comment, post: @post %>
  </div>

  <%# Render all comments %>
  <%= render @post.comments.includes(:author).order(created_at: :desc) %>
